<div class='container' role="main">
    <div class='row'>
        <div class='col-md-12'>
            <h1 class='text-center'>
                Lista szlaków turystycznych
            </h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'>
            <i class="pbi-icon-mini pbi-android"></i>
            <div class="card" *ngFor="let item of userList">
                <div class="card-body">
                    {{item.id}} - {{item.first_name}} - {{item.last_name}}
                </div>
            </div>
        </div>
    </div>
</div>