<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class='text-center'>
                Dodawanie szlaku turystycznego
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form"
                  [formGroup]="addTrailForm"
                  autocomplete="off"
                  novalidate>
                <div class="row">
                    <div class="offset-md-3">
                    </div>    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="trail_name">
                                Nazwa szlaku
                            </label>
                            <input 
                                #trailName
                                id="trail_name"
                                autocomplete="trail_name-typeahead"
                                type="text"
                                name="trail_name"
                                class="form-control"
                                [ngClass]="{'is-invalid': trail_name.invalid && trail_name.touched}"
                                formControlName="trail_name"
                                required>
                                <p class="invalid-feedback">Wprowadź nazwę szlaku.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                    </div>      
                </div>
                <div class="row">
                    <div class="offset-md-3">
                    </div> 
                    <div class="col-md-6">
                        <div id="floating-panel">
                            <input (click)="deleteMarkers();" type=button value="Delete Markers">
                        </div>
                        <agm-map 
                            [latitude]="latitude" 
                            [longitude]="longitude"
                            [zoom]="12"
                            (mapClick)="addMarker($event.coords.lat, $event.coords.lng)"
                            >
                            <agm-marker
                                *ngFor="let marker of markers"
                                [latitude]="marker.lat"
                                [longitude]="marker.lng"

                                >
                        </agm-marker>

                    </agm-map>
                    <br />    
                </div>    
            </div>    
            <div class="row">
                <div class="offset-md-3">
                </div>   
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="lat_start">
                            Szerokość geograficzna początek
                        </label>
                        <input 
                            #latStart
                            id="lat_start"
                            autocomplete="lat_start-typeahead"
                            type="text"
                            [attr.disabled]="disabledStart ? true : null"
                            name="lat_start"
                            class="form-control"
                            [ngClass]="{'is-invalid': lat_start.invalid && lat_start.touched}"
                            formControlName="lat_start"
                            required>
                            <p class="invalid-feedback">Wybierz punkt początkowy.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="long_start">
                            Długość geograficzna początek
                        </label>
                        <input 
                            #longStart
                            id="long_start"
                            autocomplete="long_start-typeahead"
                            type="text"
                            [attr.disabled]="disabledStart ? true : null"
                            name="long_start"
                            class="form-control"
                            [ngClass]="{'is-invalid': long_start.invalid && long_start.touched}"
                            formControlName="long_start"
                            required>
                            <p class="invalid-feedback">Wybierz punkt początkowy.</p>
                    </div>
                </div>
            </div>    

            <div class="row">
                <div class="offset-md-3">
                </div>   
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="lat_end">
                            Szerokość geograficzna koniec
                        </label>
                        <input 
                            #latEnd
                            id="lat_end"
                            autocomplete="lat_end-typeahead"
                            type="text"
                            [attr.disabled]="disabledEnd ? true : null"
                            name="lat_end"
                            class="form-control"
                            [ngClass]="{'is-invalid': lat_end.invalid && lat_end.touched}"
                            formControlName="lat_end"
                            required>
                            <p class="invalid-feedback">Wybierz punkt końcowy.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="long_end">
                            Długość geograficzna koniec
                        </label>
                        <input 
                            #longEnd
                            id="long_end"
                            autocomplete="long_end-typeahead"
                            type="text"
                            [attr.disabled]="disabledEnd ? true : null"
                            name="long_end"
                            class="form-control"
                            [ngClass]="{'is-invalid': long_end.invalid && long_end.touched}"
                            formControlName="long_end"
                            required>
                            <p class="invalid-feedback">Wybierz punkt końcowy.</p>
                    </div>
                </div>
            </div>    

        </form>
    </div>
</div>
    <div class="row">
        <div class="offset-md-3">
        </div>
        <div class="col-md-6" >
            <button type="button" class="btn btn-primary" (click)="saveItem()" [attr.disabled]="saveAttr ? true : null ">
                Zapisz
            </button>
        </div>
    </div>
    
</div>