<div class="single-activity-container" *ngIf="isLoaded">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar style="display: flex; align-items: center;">
        <i class="material-icons">{{typeIcon}}</i>
      </div>
      <mat-card-title>{{activity.name}}</mat-card-title>
      <mat-card-subtitle>{{activity.desc}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <div *ngIf="activity.type === 'GPS' || activity.type === 'QR'" style="display: flex;">
        <div style="display: flex;">
          <button mat-raised-button [color]="'primary'" (click)="openInMaps()" style="align-self: flex-end;" class="button-wh">
            Otwórz w mapach
          </button>
        </div>
        <div style="margin-left: auto;">
          <p>Jesteś w okolicy?</p>
          <button mat-raised-button [color]="'accent'" class="button-wh" (click)="finishActivity()">Zamelduj się!</button>
        </div>
      </div>
      <div *ngIf="activity.type !== 'GPS' && activity.type !== 'QR'" style="display: flex; flex-direction: row;">
        <button mat-raised-button [color]="'accent'" class="button-wh" style="margin-left: auto !important;" (click)="shareThis()">
          <i class="material-icons">
            share
          </i>
          Podziel się
        </button>
      </div>
    </mat-card-actions>
    <mat-card-content>
      <div class="map-wrapper" *ngIf="!isWithoutMap">
        <agm-map
          [latitude]="latitude"
          [longitude]="longitude"
          [zoom]="12"
        >
          <agm-marker
            [latitude]="latitude"
            [longitude]="longitude"
          >
          </agm-marker>

        </agm-map>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="!isLoaded">
  <app-in-progress [size]="'large'"></app-in-progress>
</div>
