<div class="single-activity-container">
  <mat-card class="example-card">
    <!--  <div style="display: flex; flex-direction: row;">-->
    <!--    <img mat-card-image src="{{activity.image}}" alt="Activity promo photo" style="width: 300px; height: 300px;">-->
    <mat-card-header>
      <div mat-card-avatar style="display: flex; align-items: center;">
        <i class="material-icons">{{typeIcon}}</i>
      </div>
      <mat-card-title>{{activity.name}}</mat-card-title>
      <mat-card-subtitle>{{activity.desc}}</mat-card-subtitle>
    </mat-card-header>
    <!--  </div>-->
    <mat-card-content>
      <!--    <div style="display: flex; flex-direction: column;">-->
      <div class="map-wrapper">
        <agm-map
          [latitude]="latitude"
          [longitude]="longitude"
          [zoom]="12"
        >
          <agm-marker
            [latitude]="latitude"
            [longitude]="longitude"
          >
          </agm-marker>

        </agm-map>
      </div>
      <!--    </div>-->
    </mat-card-content>
    <mat-card-actions>
      <div *ngIf="activity.type === 'GPS' || activity.type === 'QR'" style="display: flex;">
        <div style="display: flex;">
          <button mat-raised-button [color]="'primary'" (click)="openInMaps()" style="align-self: flex-end;" class="button-wh">
            Open in maps
          </button>
        </div>
        <div style="margin-left: auto;">
          <p>Jesteś w okolicy?</p>
          <button mat-raised-button [color]="'accent'" class="button-wh">Zamelduj się!</button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
