agm-map {
  /* height is required */
  height: 600px;
  width: 100%;
}

.map-wrapper {
  width: 100%;
}

.left-margin {
  margin-left: 3rem;
}

.single-activity-container {
  //padding: 5rem;
}

.button-wh {
  min-width: 170px;
  height: 60px;
  margin: 0 !important;
}
