<div class="mainComponent">
    <h4>Lista dat wydarzeń w BB</h4>
    <mat-form-field>
        <mat-label>Wybierz datę wydarzeń</mat-label>
        <mat-select>
            <mat-option *ngFor="let date of dates" [value]="date" (click)="showEvents(date)">
                {{date}}
        </mat-option>
    </mat-select>
</mat-form-field>

<div class="lista">
    <app-in-progress [size]="'small'" *ngIf="spinner"></app-in-progress>
    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let item of foundTrails">
                       <span>{{item.title}}</span> &nbsp; - &nbsp;
                       <a routerLink="eventEdit/{{item.name}}">
                szczegóły
            </a>
        </mat-list-item>
    </mat-list>
</div>


</div>    

