<div class="mainComponent">
    <h4>Lista dat wydarzeń w BB</h4>
    <mat-form-field>
        <mat-label>Wybierz datę wydarzeń</mat-label>
        <mat-select>
            <mat-option *ngFor="let date of dates" [value]="date" (click)="showEvents(date)">
                {{date}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-list role="list" *ngIf="foundTrails.length > 0">
    <mat-list-item role="listitem" *ngFor="let item of foundTrails">
        {{item.name}}
        <a routerLink="eventEdit/{{item.id}}">
            szczegóły
        </a>
    </mat-list-item>
</mat-list>
    
       

</div>    

