@import '~@angular/material/theming';



.mainComponent { text-align:center; }
.mainComponent h4 { color:#292929;font-size:20px;font-family: Tahoma }
.mainComponent .lista { text-align:center }
.mainComponent .lista .mat-list-base { display:inline-block;-webkit-box-shadow: 10px 10px 10px 1px #6B6B6B;
box-shadow: 10px 10px 10px 1px #6B6B6B; }
.mainComponent a { color:#ffd740;text-decoration: none; }
.mainComponent  .spinner { display:block;margin:0 auto;width: 50px; }
.mat-toolbar { background: #ffd740; }
.mat-button { background:#ffd740 !important }