.mainComponent { text-align:center; }
.mainComponent .lista { text-align:center }
.mainComponent .lista .mat-list-base { display:inline-block }
.mainComponent  .spinner { display:block;margin:0 auto;width: 50px; }