<header class="bg-brand-header fixed-top" appHeaderShadow>

    <div class="container-fluid">
        <div class="row">
            <div class="col">

                <nav class="navbar  navbar-expand-lg navbar-light">
                    <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" routerLink="/home">
                        Przewodnik po mieście
                    </a>


                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item divider-vertical d-none d-lg-block"></li>

                            <li class="nav-item">
                                <a class="nav-link" routerLink="/list">Lista</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/addTrail">Dodaj</a>
                            </li>

                        </ul>

                    </div>
                </nav>

            </div>
        </div>
    </div>

</header>
