<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <img src="../../assets/BB_logo.jpg" class="logoImage"/>
      <span style="color: white">Bielska Gra Miejska</span>
    </mat-toolbar>
    <nav mat-tab-nav-bar color="primary" backgroundColor="accent" >
      <a mat-tab-link
         [routerLink]="['/']"
         routerLinkActive #rla1="routerLinkActive"
         [routerLinkActiveOptions]="{exact:true}"
         [active]="rla1.isActive"
         style="color: white"
      >
        Zadania
      </a>
      <a mat-tab-link
         [routerLink]="['/friends']"
         routerLinkActive #rla2="routerLinkActive"
         [routerLinkActiveOptions]="{exact:true}"
         [active]="rla2.isActive"
         style="color: white"
      >
        Znajomi
      </a>
      <a mat-tab-link
         [routerLink]="['/odznaki']"
         routerLinkActive #rla3="routerLinkActive"
         [routerLinkActiveOptions]="{exact:true}"
         [active]="rla3.isActive"
         style="color: white"
      >
        Odznaki
      </a>
    </nav>
  </mat-sidenav-content>
</mat-sidenav-container>
