<div class='container' role="main">
    <div class='row'>
        <div class='col-md-12'>
            <h1 class='text-center'>
                Formularz 
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form"
                  [formGroup]="wholeForm"
                  autocomplete="off"
                  novalidate>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="first_name">First Name
                                <i *ngIf="showAdd" class="pbi-icon-mini pbi-add" (click)="add(firstName.value)"></i>
                            </label>
                            <input 
                                #firstName
                                id="first_name"
                                autocomplete="first_name-typeahead"
                                type="text"
                                name="first_name"
                                class="form-control"
                                [ngClass]="{'is-invalid': first_name.invalid && first_name.touched}"
                                formControlName="first_name"
                                required>
                                <p class="invalid-feedback">Enter First Name.</p>

                        </div>
                    </div>
                    <div class="col-md-3">
                    </div>      
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="lista" #lista>
            </ul>
        </div>
    </div>

    <div class="row" *ngIf="showEditMess">
        <div class="col-md-12">
            <!-- Success Alert -->
            <div class="alert alert-success"
                 role="alert">
                Record has been updated
            </div>
        </div>
    </div>

</div>